.Form form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}
.Form form select {
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: 1px solid black;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}
.Form form input {
    border: 1px solid black;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 10px;
}
.Form form textarea {
    border: 1px solid black;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}
.Form form button {
    width: 50%;
    height: 40px;
    line-height: 40px;
    border: none;
    background: #4c90ff;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.Form form button:hover {
    opacity: 0.6;
}
