.NavItem a {
    display: inline-block;
    padding: 5px 15px;
    color: #4c90ff;
    text-decoration: none;
    border: 1px solid transparent;
}
.NavItem a:hover {
    text-decoration: underline;
}
.NavItem a.active {
    border: 1px solid #4c90ff;
}
